<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.publicze_platform.Pojo.ImgCompanyInfoMapper">
  <resultMap id="BaseResultMap" type="com.platform.publicze_platform.Dao.ImgCompanyInfo">
    <!--@mbg.generated-->
    <!--@Table img_company_info-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_no" jdbcType="VARCHAR" property="companyNo" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="img_path" jdbcType="VARCHAR" property="imgPath" />
    <result column="img_title" jdbcType="VARCHAR" property="imgTitle" />
    <result column="discription" jdbcType="VARCHAR" property="discription" />
    <result column="enable" jdbcType="BIT" property="enable" />
    <result column="is_main_img" jdbcType="BIT" property="isMainImg" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, company_no, group_name, img_path, img_title, discription, `enable`, is_main_img,
    create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from img_company_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByCompanyNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from img_company_info
    where company_no = #{companyNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from img_company_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.platform.publicze_platform.Dao.ImgCompanyInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into img_company_info (company_no, group_name, img_path,
      img_title, discription, `enable`, 
      is_main_img, create_time)
    values (#{companyNo,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, #{imgPath,jdbcType=VARCHAR},
      #{imgTitle,jdbcType=VARCHAR}, #{discription,jdbcType=VARCHAR}, #{enable,jdbcType=BIT}, 
      #{isMainImg,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.platform.publicze_platform.Dao.ImgCompanyInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into img_company_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyNo != null">
        company_no,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="imgPath != null">
        img_path,
      </if>
      <if test="imgTitle != null">
        img_title,
      </if>
      <if test="discription != null">
        discription,
      </if>
      <if test="enable != null">
        `enable`,
      </if>
      <if test="isMainImg != null">
        is_main_img,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyNo != null">
        #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null">
        #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="imgTitle != null">
        #{imgTitle,jdbcType=VARCHAR},
      </if>
      <if test="discription != null">
        #{discription,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=BIT},
      </if>
      <if test="isMainImg != null">
        #{isMainImg,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.platform.publicze_platform.Dao.ImgCompanyInfo">
    <!--@mbg.generated-->
    update img_company_info
    <set>
      <if test="companyNo != null">
        company_no = #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null">
        img_path = #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="imgTitle != null">
        img_title = #{imgTitle,jdbcType=VARCHAR},
      </if>
      <if test="discription != null">
        discription = #{discription,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        `enable` = #{enable,jdbcType=BIT},
      </if>
      <if test="isMainImg != null">
        is_main_img = #{isMainImg,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.platform.publicze_platform.Dao.ImgCompanyInfo">
    <!--@mbg.generated-->
    update img_company_info
    set company_no = #{companyNo,jdbcType=VARCHAR},
      group_name = #{groupName,jdbcType=VARCHAR},
      img_path = #{imgPath,jdbcType=VARCHAR},
      img_title = #{imgTitle,jdbcType=VARCHAR},
      discription = #{discription,jdbcType=VARCHAR},
      `enable` = #{enable,jdbcType=BIT},
      is_main_img = #{isMainImg,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertList">
        <!--@mbg.generated-->
        INSERT INTO img_company_info(
        company_no,
        group_name,
        img_path,
        img_title,
        discription,
        enable,
        is_main_img,
        create_time
        )VALUES
        <foreach collection="list" index="index" item="element" separator=",">
            (
            #{element.companyNo,jdbcType=VARCHAR},
            #{element.groupName,jdbcType=VARCHAR},
            #{element.imgPath,jdbcType=VARCHAR},
            #{element.imgTitle,jdbcType=VARCHAR},
            #{element.discription,jdbcType=VARCHAR},
            #{element.enable,jdbcType=BIT},
            #{element.isMainImg,jdbcType=BIT},
            #{element.createTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>
</mapper>